.carta {
  margin: 5px;
}

.card-imagen-gral {
  width: 100%;
  height: 190px;
  background-size: cover;
}

.card-imagen1 {
  background-image: url("./imagenes/paseogracia.jpeg");
}

.card-imagen2 {
  background-image: url("./imagenes/torreagbar.jpeg");
}

.card-imagen3 {
  background-image: url("./imagenes/campnou.jpeg");
}

.card-imagen4 {
  background-image: url("./imagenes/larambla.jpeg");
}

.card-imagen5 {
  background-image: url("./imagenes/catedral.jpeg");
}

.card-imagen6 {
  background-image: url("./imagenes/parkguell.jpeg");
}

.card-imagen7 {
  background-image: url("./imagenes/palaumusica.jpeg");
}

.card-imagen8 {
  background-image: url("./imagenes/sagradafamilia.jpeg");
}

.card-imagen9 {
  background-image: url("./imagenes/boqueria.jpeg");
}
